<!-- Mailchimp Signup Form -->

<form class="form-row blog-sidebar-newsletter-form"
      action="https://celine-ollagnier.us19.list-manage.com/subscribe/post?u=1934af2151b32ea238ddc8a96&amp;id=0fc52fe622"
      method="post" name="mc-embedded-subscribe-form"
      target="_blank" novalidate>

    <div class="form-group m-0 col-10">
        <input class="form-control sidebar-newsletter-input rounded-0 required " placeholder="Votre adresse mail" type="email" name="EMAIL">
    </div>
    <input type="submit" value="OK" name="subscribe" class="btn blog-button rounded-0 col-2">
</form>
