.blog-img-list
{
    min-height: 300px;

}

/* slidebar */
.blog-sidebar-social-network
{
    margin-top: 49px !important;
    margin-bottom: 49px !important;
}
.blog-sidebar-button-contact
{
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}
.blog-sidebar-categories-link
{
    font-family: 'ethnocentricregular';
    font-size: 16px !important;
    text-decoration: none !important;
}
.blog-sidebar-newsletter-form
{
    margin-top: 38px !important;
}
.blog-button
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* title page */
h2
{
    margin-bottom: 21px;
    font-family: 'ethnocentricregular';
    font-size: 20px;

}



/* title list posts */
h3
{
    font-family: 'ethnocentricregular';
    font-size: 18px !important;
}
/* title sidebar */
h4
{
    font-family: 'ethnocentricregular';
    font-size: 20px !important;
}
h5
{
    font-family: 'ethnocentricregular';
    font-size: 16px !important;
}

