/* List posts */
.mt-container-body {
    margin: 6.25rem 0.5rem 2.5rem 0.5rem;
}

.blog-img-list {
    min-height: 250px;
    max-height: 250px;
}

.blog-img-post {
    width: 100%;
}

.articlextract {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.text-muted {
    margin-bottom: 0.5rem;
}

.border-light {
    border-color: #f4f4f4 !important;
}

/* Sidebar */
.blog-sidebar-social-network {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    background-color: #ad3f37;
    border-radius: 10px;
}

.blog-sidebar-social-network .fab::before {
    color: #FFFFFF;
}

.blog-sidebar-button-contact {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    border-radius: 0;
}

.blog-sidebar-categories-link {
    font-family: 'ethnocentricregular';
    font-size: 16px !important;
    text-decoration: none !important;
    line-height: 2.7;
}

.blog-sidebar-categories-link i {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 20px;
    color: #ad3f37;
}

.blog-sidebar-newsletter-form {
    margin-top: 38px !important;
}

.blog-button,
.blog-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #AD3F37;
    border: none;
    color: white;
}

.card {
    background-color: #f4f4f4;
}

.card-post {
    box-shadow: 1px 2px 4px 1px rgba(250, 114, 104, 0.80)
}

.post-container {
    background-color: #f4f4f4;
}

.postcontentext {
    overflow-wrap: break-word;
}

.sidebar-newsletter-input::placeholder {
    color: #fff;
    opacity: 1;
    background-color: #ad3f37;
}

.sidebar-newsletter-input {
    background-color: #ad3f37;
}

hr {
    border: 1px solid #48ad72;
    width: 80%;
    margin-bottom: 2rem;
}

body>div.mt-container-body>div>div>div.p-0.pl-lg-3.col-12.col-lg-4.col-xl-3>div:nth-child(3)>div>h5:nth-child(6) {
    margin-bottom: 0;
}

.input-group-prepend {
    background: #FFFFFF;
}

/* title page */
h1 {
    margin-bottom: 21px;
    margin-top: 60px;
    font-family: 'ethnocentricregular';
    font-size: 1.2rem;
}

.cubeline {
    margin-bottom: -6rem;
}

/* title list posts */
h2 {
    font-family: 'ethnocentricregular';
    font-size: 18px !important;
}

/* title sidebar */
h4 {
    font-family: 'ethnocentricregular';
    font-size: 20px !important;
}

h5 {
    font-family: 'ethnocentricregular';
    font-size: 16px !important;
}

.post-container {
    padding-bottom: 1rem;
}


/* MEDIA QUERIES
------------------------------------------------  */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .blog-sidebar-categories-link {
        padding-left: 22px;
    }

    h1 {
        font-size: 1.1rem;
        margin-top: 1.875rem;
    }

    h2 {
        font-size: 1rem !important;
    }

    .lead {
        font-size: 0.9rem !important;
    }

    .card-post,
    .post-container {
        box-shadow: none;
        border: none;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .blog-img-list {
        max-width: 250px;
        /* display: flex;
        justify-content: center !important; */
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 1.1rem;
        margin-top: 1.875rem;
    }

    h2 {
        font-size: 1rem !important;
    }

    .lead {
        font-size: 0.9rem !important;
    }

    .card-post,
    .post-container {
        box-shadow: none;
        border: none;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .blog-img-post {
        width: 250px;
    }


}

@media (min-width: 768px) {
    .blog-img-list {
        height: 250px;
        max-width: 250px;
        min-height: 250px;
    }
    
    .blog-img-post {
        width: 250px;
    }
}


/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .fab {
        margin-bottom: 0;
    }
}

/* --- Pagination  --- */
.pagination {
    font-family: 'robotolight';
    font-size: 1.25rem;
}

.pagination .current {
    font-family: 'robotoregular';
}

.pagination a {
    color: black;
}

.pagination .page,
.next {
    margin-left: 50px;
}

@media (min-width: 992px) {

    .pagination .current,
    .page,
    .next {
        margin-left: 50px;
    }
}