.mt-container-body {
    padding-top: 2rem;
    margin-bottom: 0;
}

.contactcontainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -14rem;
    margin-bottom: -13rem;
}

.container.contactcont {
    margin-top:4rem;
    padding-top: 3.125rem; 
    padding-bottom:8.125rem
}

.contactzone {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.contner {
    padding-left: 0;
    padding-right: 0;
}

.carreshaut {
    padding-right: 0;
    position: relative;
    top: 0;
    right: -1.5rem;
    max-width: 14%;
}

.carresbas {
    max-width: 15%;
    position: relative;
    top: -2rem;
}

label {
    font-family: 'robotoregular', Arial, sans-serif;
}

.contactzone {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: 'ethnocentricregular';
    font-size: 1rem;
    color: #000000;
}

.livingline {
    border-top: #68faa5 3px solid;
}

.underlinetitle {
    margin-top: 1.5rem;
}

.rightcolumn {
    border-left: 0.125rem #68faa5 solid;
    padding-left: 0;
    padding-right: 0;
}

.form-control,
.form-control:focus {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
    color: #000000;
    border-bottom: 0.0625rem #FA7268 solid;
}

.form-control::-webkit-input-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000 !important;
}

input:-moz-placeholder {
    color: #000000 !important;
}

input:-ms-input-placeholder {
    color: #000000 !important;
}

label {
    color: #000000;
}

.namerow,
.emailrow {
    margin-bottom: 1.5rem;
}

.custom-select option {
    background: #f4f4f4f4;
}

.custom-select,
.custom-select:focus {
    margin-bottom: 1.875rem;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #000000;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

body>div>div>div>div:nth-child(1)>form>label {
    font-size: 0.97rem;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: none;
}

#contact_email {
    width: 56%;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-label {
    margin-left: 0.625rem;
    font-size: 0.7rem;
}

.check2 {
    margin-bottom: 2rem;
}

.text {
    border: none;
}

.underformcheck {
    background: #68faa5;
    height: 0.125rem;
    width: 90%;
    margin-top: 1.25rem;
    display: none !important;
}

.messzone {
    margin-top: 5%;
    margin-left: 4%;
}

textarea.form-control {
    height: auto;
    padding-left: 0.625rem;
    font-size: 0.97rem;
    color: #000000;
}

.btn,
.btn:hover {
    border-radius: 0;
    color: #ffffff;
    background-color: #AD3F37;
}



/* MEDIA QUERIES
------------------------------------------------  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .container.contactcont {
        margin-top: 4rem;
        padding-top: 10.125rem;
        padding-bottom: 13.125rem;
    }

    .contactzone {
        display: flex;
        flex-direction: column;
    }

    .livingline {
        -ms-flex: 0 0 58%;
        flex: 0 0 58%;
        max-width: 58%;
    }

    .underformcheck {
        display: block !important;
    }

    .rightcolumn {
        border: none;
    }

    .messzone {
        margin-top: 0;
    }

    textarea.form-control {
        width: 96%;
    }

    .submitline {
        margin-right: 0.9375rem;
        margin-left: 0;
    }

    .leftcolumn {
        margin-bottom: -6rem;
    }

    .rgpdrow {
        position: relative;
        bottom: -26rem;
        padding-bottom: 1rem;
        z-index: 100;
    }

    .submitline {
        margin-top: 7rem !important;
    }

    .submitbutton {
        margin-bottom: 3.3rem;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .container,
    .contactzone {
        padding-left: 0;
        padding-right: 0;
    }

    .container.contactcont {
        margin-top: 4rem;
        padding-top: 10.125rem;
        padding-bottom: 13.125rem;
    }

    .contactzone {
        display: flex;
        flex-direction: column;
    }

    .livingline {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }

    .underformcheck {
        display: block !important;
    }

    .leftcolumn {
        max-height: 22rem;
    }

    .rightcolumn {
        border: none;
    }

    .messzone {
        margin-top: 0;
    }

    textarea.form-control {
        width: 96%;
    }

    .submitline {
        margin-right: 0.9375rem;
        margin-left: 0;
    }

    .submitbutton {
        margin-bottom: 3.75rem;
    }


    .leftcolumn {
        margin-bottom: -1rem;
    }

    .rgpdrow {
        position: relative;
        bottom: -26rem;
        z-index: 100;
    }

    .submitline {
        margin-top: 7rem !important;
    }

    .submitbutton {
        margin-bottom: 3.3rem;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .container.contactcont {
        margin-top: 4rem;
        padding-top: 10.125rem;
        padding-bottom: 14.125rem;
    }

    .livingline {
        -ms-flex: 0 0 79%;
        flex: 0 0 79%;
        max-width: 79%;
    }

    .checkpart {
        padding-left: 0;
        padding-right: 0;
    }

    textarea.form-control {
        width: 100%;
    }

    .text {
        margin-bottom: 3.6rem;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .contactcontainer {
        margin-bottom: 8.5rem;
    }

    .livingline {
        -ms-flex: 0 0 58%;
        flex: 0 0 58%;
        max-width: 58%;
    }
}