.mt-container-body {
    margin-bottom: 3.5rem;
}

.expertise {
    padding: 3.8rem 3rem 2rem 3rem;
}

h1,
h2 {
    font-family: 'ethnocentricregular', Arial, sans-serif;
    font-size: 1.25rem;
    color: #000000;
}

h1 {
    line-height: 2.5rem;
}

h2 {
    line-height: 1.5625rem;
}

p {
    font-family: 'robotoregular', Arial, sans-serif;
    color: #414141;
}

.carreshaut {
    max-width: 55%;
    margin-top: -2rem;
    margin-left: -3rem;
    padding-bottom: 1.5rem;
}

.carresbas {
    max-width: 55%;
    margin-left: 10.3rem;
}

.secondarytitle {
    font-family: 'ethnocentricregular', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 0;
}

.sepline {
    width: 40%;
    display: inline-flex !important;
    justify-content: start;
    margin-top: 0;
    margin-bottom: 2rem;
}

.sepline2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#pwa>hr {
    max-width: 95% !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 0.0625rem solid #48ad72;
}

.servtext {
    padding-right: 7rem;
    font-size: 1rem;
    line-height: 1.875rem;
}

.pwasubtext {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.specialrow {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
}

.panel-group .panel {
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0.625rem;
    margin-bottom: 1.875rem;
}

.panel .panel-heading {
    padding: 0;
    border-radius: 0.625rem;
    border: none;
}

.panel-heading a {
    color: #fa8981;
    display: block;
    border: none;
    text-align: center;
    padding: 1.25rem 2.1875rem 1.25rem;
    font-size: 1.625rem;
    background: #ffffff;
    font-weight: 600;
    position: relative;
    box-shadow: none;
}

.collapsed {
    text-align: center;
}

.panel-heading a:after,
.panel-heading a.collapsed:after {
    content: "\f068";
    font-family: 'Font Awesome 5 Free';
    text-align: center;
    position: absolute;
    left: -1.25rem;
    top: 0.8rem;
    color: #ffffff;
    background-color: #FF8C84;
    border: 0.3125rem solid #F4F4F4;
    font-size: 0.9375rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.875rem;
    border-radius: 50%;
}

.panel-heading a.collapsed:after {
    content: "\f067";
}

#accordion .panel-body {
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.5625rem;
    padding: 2.5rem 1.875rem 1.25rem 1.875rem;
    border-top: none;
    font-size: 0.875rem;
    position: relative;
}

#accordion {
    margin-top: 2rem;
}

.panel-default {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.panel-title {
    margin-bottom: 0;
}

#collapse1>div.panel-body.uppanel.d-flex.flex-row,
#collapse2>div.panel-body.uppanel.d-flex.flex-row,
#collapse3>div.panel-body.uppanel.d-flex.flex-row {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5625rem;
}

.memberjob,
.membertel,
.membermail {
    font-family: 'robotoregular', Arial, sans-serif;
    color: #000000;
    text-align: left;
    font-size: 1.2rem;
}

.membername {
    font-family: 'robotoregular', Arial, sans-serif;
    color: #000000;
    text-align: left;
    font-size: 1.875rem;
    margin-bottom: 0.5rem !important;
}

.membertext p {
    margin-bottom: 0.2rem;
}

.membertext {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

#collapse1>div:nth-child(5),
#collapse2>div:nth-child(3),
#collapse3>div:nth-child(3) {
    padding-bottom: 3rem;
}

.panel-body i {
    color: #000000;
    font-size: 1.3rem;
}

.textpart i {
    color: #000000;
    font-size: 2.1875rem;
}

.panel-collapse>div.panel-body.uppanel {
    display: flex;
}

.imglogo {
    max-width: 13rem;
}

.nav2 {
    border: none;
    margin-top: 1rem;
    padding: 0.75rem 0.3125rem 0.75rem 1rem;
    border-radius: 1rem;
    background: #FF8C84;
    width: 80%;
}

.navl2 i {
    font-size: 2.5rem !important;
    color: #ffffff;
}

.navlines {
    margin-left: -1rem;
    margin-top: 0.2rem;
}

blockquote {
    color: #414141;
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textpart {
    padding-top: 1.1875rem;
    padding-bottom: 1rem;
}

.textpart p {
    font-size: 0.875rem;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 12.5rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.table.active {
    background: linear-gradient(to bottom right, #BD665F 50%, #ad3f37 50%);
    transform: scale(1.06);
    box-shadow: 0 0 0.9375rem 0.3125rem rgba(0, 0, 0, 0.5);
}

.table.free {
    background: linear-gradient(to bottom right, #51BD7E 50%, #25AD5E 50%);
}

.table.premium {
    background: linear-gradient(to bottom right, #fa8981 50%, #fa7268 50%);
}

.priceul li {
    color: #FFF;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.8125rem;
    width: 100%;
    height: 1.4375rem;
    list-style: none;
    padding: 0.25rem 0.9375rem;
    text-align: center;
}

.table.free,
.table.premium {
    height: 33.5rem;
}

.table.active {
    height: 36.5rem;
}

.table ul {
    width: 80%;
}

.table.free>ul>li.littleinfo.text-right {
    color: rgba(255, 255, 255, 0);
}

ul>li.titleli {
    font-family: 'ethnocentricregular';
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
}

ul>li.pricecontent {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    line-height: 0.8;
    padding-left: 0;
    padding-right: 0;
}

ul>li.partir {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

ul>li.beforelio {
    margin-bottom: 0.2rem;
}

ul>li.theprice {
    font-family: 'robotoegular', sans-serif;
    margin-top: 1rem;
    font-size: 2.2rem;
}

ul>li.littleinfo {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    line-height: 0.8;
    padding-left: 0;
    padding-right: 0;
}

.separinfodevis {
    border: 0.0625rem #ffffff solid;
}

.princing-table,
.table,
.table.active {
    transition: all .3s;
}

.table.premium {
    z-index: 0;
}

.table.active {
    z-index: 10;
}

.table ul {
    padding-left: 0;
}

.actionbtn,
.blackbtn,
.actionbtn:hover,
.blackbtn:hover {
    font-family: 'robotoregular', sans-serif;
    margin-top: 1.4375rem;
    font-size: 1.25rem;
    color: #ffffff;
    background: #ad4f48;
    max-width: 100%;
    margin-bottom: 2rem;
}

.actionbtn {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.schemapwa {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.testbtn,
.testbtn:hover {
    box-shadow: none;
    background: transparent;
    margin-top: -11.2rem;
    max-height: 7.2rem;
    border: none;
    color: rgba(255, 255, 255, 0);
}

.servtext2 {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    line-height: 1.875rem;
    padding-left: 3rem;
}

.carreshaut2 {
    max-width: 55%;
    margin-top: -2rem;
}

.carresbas2 {
    max-width: 55%;
    margin-left: 13rem;
    margin-top: -2rem;
}

li.pricecontent.tiny {
    font-size: 1.1rem;
}

#collapse2>div:nth-child(3)>div>div.col-12.col-sm-9.col-md-4.table.premium.premiumdesign>ul {
    width: 82% !important;
}

.table.freedesign {
    height: 34rem;
}

.table.premiumdesign {
    height: 35rem;
}

.table.freeredac {
    height: 35.5rem;
}

.table.premiumredac {
    height: 36rem;
    padding-right: 0;
}

div.col-6.col-md-3.confimg {
    margin-bottom: 0;
}

.imgtag {
    margin-bottom: 2.2rem;
    opacity: 0.5;
}

.pwabigschema {
    max-width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#collapse2 > div.pricebody.panel-body > div > div.col-12.col-sm-9.col-md-8.col-lg-4.table.premium.premiumdesign > ul > li.pricecontent.tiny {
    line-height: 1;
}


/* MEDIA QUERIES
------------------------------------------------  */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .mt-container-body {
        margin-bottom: 1.5rem;
    }

    .servtext,
    .pwasubtext {
        font-size: 0.875rem;
        line-height: 1.1rem;
    }

    .collapse.show {
        background: #f4f4f4;
    }

    .expertise {
        padding: 1.4rem 1.0625rem 0 1.0625rem;
    }

    .textpart i {
        font-size: 1.8125rem;
    }

    blockquote {
        font-size: 0.875rem;
        margin: 1rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #collapse1>div:nth-child(4) {
        padding-top: 3rem !important;
    }

    .imglogo {
        display: none;
    }

    h1,
    .secondarytitle {
        font-size: 1rem;
    }

    .primarytitle,
    .secondarytitle {
        padding-left: 0;
        padding-right: 0;
        line-height: 1.5625rem;
    }

    .primarytitle {
        margin-bottom: 0;
    }

    .sepline {
        display: none !important;
    }

    #equipebtm>div.col-12.col-md-11.col-lg-10.col-xl-8.texttag {
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
    }

    .specialrow {
        margin-top: 0.5rem;
    }

    .servtext {
        padding-right: 0;
    }

    #collapse1>div.panel-body.uppanel,
    #collapse2>div.panel-body.uppanel,
    #collapse3>div.panel-body.uppanel {
        flex-direction: row;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
    }


    #collapse1>div:nth-child(5),
    #collapse2>div:nth-child(3),
    #collapse3>div:nth-child(3) {
        padding-bottom: 1rem;
    }

    .table.free {
        transform: scale(.9);
    }

    ul>li.pricecontent {
        line-height: 0.9;
    }

    .pricing-table {
        margin-top: 0 !important;
    }

    .table.active {
        transform: scale(.9);
        margin-bottom: -3rem;
        margin-top: -4rem;
        box-shadow: none;
    }

    .table.premium {
        z-index: 10;
        transform: scale(.9);
    }

    .sepline2 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    #teampart>div {
        padding-left: 0.625rem;
        padding-right: 0;
    }

    .btnligne {
        padding-left: 0;
        padding-right: 0;
    }

    .actionbtn {
        font-size: 0.9rem;
    }

    #accordion {
        margin-bottom: -1rem;
    }

    .carresbas,
    .carreshaut,
    .carresbas2,
    .carreshaut2 {
        display: none !important;
    }

    .pricebody {
        background: none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    ul>li.littleinfo {
        font-size: 0.8rem;
    }

    .schemapwa {
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .pwasubtext {
        margin-bottom: 3rem;
    }

    .testbtn {
        margin-top: -6.2rem;
    }

    .memberphoto>img {
        max-height: 6.25rem !important;
    }

    .membername {
        font-size: 1.2rem;
    }

    .memberjob,
    .membermail,
    .membertel {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .bignavicons {
        display: none !important;
    }

    .mininavicons {
        background: #F4F4F4;
    }

    .mininavicons>ul>li>a>i {
        font-size: 1.8125rem !important;
    }

    .mininavicons>ul {
        margin-top: 0;
    }

    .pwalittleschema {
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 90%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .mt-container-body {
        margin-bottom: 1.5rem;
    }

    .servtext,
    .pwasubtext {
        font-size: 0.875rem;
        line-height: 1.1rem;
    }

    .collapse.show {
        background: #f4f4f4;
    }

    .expertise {
        padding: 1.4rem 1.0625rem 0 1.0625rem;
    }

    .textpart i {
        font-size: 1.8125rem;
    }

    blockquote {
        font-size: 0.875rem;
        margin: 1rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #collapse1>div:nth-child(4) {
        padding-top: 3rem !important;
    }

    .imglogo {
        display: none;
    }

    h1,
    .secondarytitle {
        font-size: 1rem;
    }

    .primarytitle,
    .secondarytitle {
        padding-left: 0;
        padding-right: 0;
        line-height: 1.5625rem;
    }

    .primarytitle {
        margin-bottom: 0;
    }

    .sepline {
        display: none !important;
    }

    #equipebtm>div.col-12.col-md-11.col-lg-10.col-xl-8.texttag {
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
    }

    .specialrow {
        margin-top: 0.5rem;
    }

    .servtext {
        padding-right: 0;
    }

    #collapse1>div.panel-body.uppanel,
    #collapse2>div.panel-body.uppanel,
    #collapse3>div.panel-body.uppanel {
        flex-direction: row;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
    }

    #collapse1>div:nth-child(5),
    #collapse2>div:nth-child(3),
    #collapse3>div:nth-child(3) {
        padding-bottom: 1rem;
    }

    .table.free {
        transform: scale(.9);
    }

    ul>li.pricecontent {
        line-height: 0.9;
    }

    .pricing-table {
        margin-top: 0 !important;
    }

    .table.active {
        transform: scale(.9);
        margin-bottom: -3rem;
        margin-top: -4rem;
        box-shadow: none;
    }

    .table.premium {
        z-index: 10;
        transform: scale(.9);
    }

    .sepline2 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    #teampart>div {
        padding-left: 0.625rem;
        padding-right: 0;
    }

    .btnligne {
        padding-left: 0;
        padding-right: 0;
    }

    .actionbtn {
        font-size: 0.9rem;
    }

    #accordion {
        margin-bottom: -1rem;
    }

    .carresbas,
    .carreshaut,
    .carresbas2,
    .carreshaut2 {
        display: none !important;
    }

    .pricebody {
        background: none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    ul>li.littleinfo {
        font-size: 0.8rem;
    }

    .schemapwa {
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-left: 0;
        padding-right: 0;
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
        max-width: 55%;
    }

    .pwasubtext {
        margin-bottom: 3rem;
    }

    .testbtn {
        margin-top: -7.2rem;
    }

    .memberphoto>img {
        max-height: 8.25rem !important;
    }

    .membername {
        font-size: 1.2rem;
    }

    .memberjob,
    .membermail,
    .membertel {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .bignavicons {
        display: none !important;
    }

    .mininavicons {
        background: #F4F4F4;
    }

    .mininavicons>ul>li>a>i {
        font-size: 1.8125rem !important;
    }

    .mininavicons>ul {
        margin-top: 0;
    }

    .pwalittleschema {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 50%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .carresbas,
    .carreshaut,
    .carresbas2,
    .carreshaut2 {
        display: none !important;
    }

    #accordion .panel-body {
        padding: 2.5rem 1rem 1.25rem 1rem;
    }

    .memberphoto>img {
        max-height: 12.5rem !important;
    }

    .membertext {
        padding-left: 1.7rem;
        padding-right: 0;
    }

    #collapse1>div:nth-child(3)>div.col-12.col-md-6.col-lg-5.col-xl-4.membertext {
        padding-left: 1.3rem;
    }

    .nav2 {
        padding: 0.75rem 0.3125rem 0.2rem 1rem;
    }

    .servtext {
        padding-right: 0;
    }

    .table.active {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    #collapse1>div:nth-child(5)>div>div.col-12.col-sm-9.col-md-8.col-lg-4.table.active>ul>li.text-center.partir {
        margin-top: 1.4rem;
    }

    #collapse2>div:nth-child(3)>div>div.col-12.col-sm-9.col-md-8.col-lg-4.table.active.activedesign>ul>li.text-center.partir {
        margin-top: 2.4rem;
    }

    .table.premiumredac {
        height: 34rem;
    }

    #collapse3>div.pricebody.panel-body>div>div.col-12.col-sm-9.col-md-8.col-lg-4.table.premium.premiumredac>ul>li.text-center.partir {
        margin-top: 18rem !important;
    }

    .specialrow {
        margin-top: 2.5rem;
    }

    .schemapwa {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .testbtn,
    .testbtn:hover {
        margin-top: -9.2rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .schemapwa {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .carresbas,
    .carreshaut,
    .carresbas2,
    .carreshaut2 {
        display: none !important;
    }

    ul>li.pricecontent {
        line-height: 0.9;
    }

    .table.freeredac {
        height: 38.5rem;
    }

    #collapse3>div:nth-child(3)>div>div.col-12.col-sm-9.col-md-4.table.free.freeredac>ul>li.text-center.partir {
        margin-top: 23rem !important;
    }

    .table.activeredac {
        height: 38.5rem;
    }

    .table.premiumredac {
        height: 39.5rem;
        padding-right: 0;
    }

    #collapse3>div:nth-child(3)>div>div.col-12.col-sm-9.col-md-4.table.premium.premiumredac>ul>li.titleli {
        margin-bottom: 3.5rem !important;
    }

    #collapse3>div.pricebody.panel-body>div>div.col-12.col-sm-9.col-md-8.col-lg-4.table.active.activeredac>ul>li.text-center.partir {
        margin-top: 21rem !important;
    }

    #collapse3>div.pricebody.panel-body>div>div.col-12.col-sm-9.col-md-8.col-lg-4.table.free.freeredac>ul>li.text-center.partir {
        margin-top: 23rem !important;
    }

    #collapse3>div.pricebody.panel-body>div>div.col-12.col-sm-9.col-md-8.col-lg-4.table.premium.premiumredac>ul>li.text-center.partir {
        margin-top: 23rem !important;
    }
}