.mt-container-body {
    margin-bottom: 3.5rem;
}

.expertise {
    padding: 2.4rem 3rem 0 3rem;
}

h1,
h2 {
    font-family: 'ethnocentricregular';
    font-size: 1.25rem;
    color: #000000;
}

h1 {
    line-height: 40px
}

h2 {
    line-height: 25px
}

p {
    font-family: 'robotoregular', Arial, sans-serif;
    /* font-size: 1.25rem;
    line-height: 30px; */
}

.carreshaut {
    max-width: 55%;
    margin-top: -2rem;
    margin-left: -3rem;
    padding-bottom: 1.5rem;
}

.carresbas {
    max-width: 55%;
    margin-left: 11rem;
}

.secondarytitle {
    font-family: 'Ethnocentric', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 40px;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 0;
}

.sepline {
    width: 40%;
    display: inline-flex;
    justify-content: start;
    margin-top: 0;
    margin-bottom: 2rem;
}

.sepline2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.servtext {
    padding-right: 3.8rem;
    font-size: 1.25rem;
    line-height: 30px;
}

.pwasubtext,
.besoins {
    font-size: 1.25rem;
    line-height: 30px;
}

.specialrow {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
}

.collapse.show {
    border: 3px#fa7268 solid;
}

.panel-group .panel {
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0.625rem;
    margin-bottom: 1.875rem;
}

.panel .panel-heading {
    padding: 0;
    border-radius: 0.625rem;
    border: none;
}

.panel-heading a {
    color: black !important;
    display: block;
    border: none;
    text-align: center;
    padding: 1.25rem 2.1875rem 1.25rem;
    font-size: 1.625rem;
    background-color: #fa7268;
    font-weight: 600;
    position: relative;
    box-shadow: none;
}

.collapsed {
    text-align: center;
}

.panel-heading a:after,
.panel-heading a.collapsed:after {
    content: "\f068";
    font-family: 'Font Awesome 5 Free';
    text-align: center;
    position: absolute;
    left: -1.25rem;
    top: 0.625rem;
    color: #fff;
    background-color: #fa8981;
    border: 0.3125rem solid #68faa5;
    font-size: 0.9375rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.875rem;
    border-radius: 50%;
}

.panel-heading a.collapsed:after {
    content: "\f067";
}

#accordion .panel-body {
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.5625rem;
    padding: 2.5rem 1.875rem 1.25rem 1.875rem;
    border-top: none;
    font-size: 0.875rem;
    position: relative;
}

#accordion {
    margin-top: 2rem;
}

.panel-default {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.panel-title {
    margin-bottom: 0;
}

#collapse1>div.panel-body.uppanel.d-flex.flex-row,
#collapse2>div.panel-body.uppanel.d-flex.flex-row,
#collapse3>div.panel-body.uppanel.d-flex.flex-row {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5625rem;
}

.memberjob,
.membertel,
.membermail {
    font-family: 'robotoregular', Arial, sans-serif;
    color: #000000;
    text-align: left;
    font-size: 1.2rem;
}

.membername {
    font-family: 'robotoregular', Arial, sans-serif;
    color: #000000;
    text-align: left;
    font-size: 1.875rem;
    margin-bottom: 0.5rem !important;
}

.membertext p {
    margin-bottom: 0.2rem;
}

.panel-body i {
    color: #000000;
    font-size: 1.3rem;
}

.textpart i {
    color: #000000;
    font-size: 2.1875rem;
}


.panel-collapse>div.panel-body.uppanel {
    display: flex;
}

.imglogo {
    max-width: 13.3125rem;
}

.nav2 {
    border: none;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    padding-bottom: 12px;
    padding-left: 1rem;
    border-radius: 1rem;
    background: #fa7268;
    width: 80%;
}


.navl2 i {
    font-size: 2.5rem !important;
    color: #ffffff;
}

.navlines {
    margin-left: -1rem;
    margin-top: 0.7rem;
}

/* .navlines {
    margin-left: -1rem;
    margin-top: 0.7rem;
    background: purple;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 10px;
} */



blockquote {
    /* color: #ffffff; */
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textpart {
    padding-top: 1.1875rem;
    padding-bottom: 1rem;
}

.textpart p {
    font-size: 0.875rem;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 12.5rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.table.active {
    background: linear-gradient(to bottom right, #BD665F 50%, #ad3f37 50%);
    transform: scale(1.06);
    box-shadow: 0 0 0.9375rem 0.3125rem rgba(0, 0, 0, 0.5);
}

.table.free {
    background: linear-gradient(to bottom right, #51BD7E 50%, #25AD5E 50%);
}

.table.premium {
    background: linear-gradient(to bottom right, #fa8981 50%, #fa7268 50%);
}

.priceul li {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8125rem;
    width: 100%;
    height: 1.4375rem;
    list-style: none;
    padding: 0.25rem 0.9375rem;
    text-align: center;
}

.table.free,
.table.premium {
    height: 33.5rem;
}

.table.active {
    height: 36.5rem;
}

.table ul {
    width: 80%;
}

.table.free>ul>li.littleinfo.text-right {
    color: rgba(255, 255, 255, 0);
}

ul>li.titleli {
    font-family: 'ethnocentricregular';
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
}

ul>li.pricecontent {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    line-height: 0.8;
    padding-left: 0;
    padding-right: 0;
}

ul>li.partir {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

ul>li.beforelio {
    margin-bottom: 0.2rem;
}

ul>li.theprice {
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    font-size: 2.2rem;
}

ul>li.littleinfo {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    line-height: 0.8;
    padding-left: 0;
    padding-right: 0;
}

.separinfodevis {
    border: 1px #ffffff solid;
}

.princing-table,
.table,
.table.active {
    transition: all .3s;
}

.table.premium {
    z-index: 0;
}

.table.active {
    z-index: 10;
}

.table ul {
    padding-left: 0;
}

.actionbtn,
.blackbtn,
.actionbtn:hover,
.blackbtn:hover {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.4375rem;
    font-size: 1.25rem;
    color: #ffffff;
    background: #ad4f48;
    max-width: 100%;
    margin-bottom: 2rem;
}

.actionbtn {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.schemapwa {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.testbtn,
.testbtn:hover {
    box-shadow: none;
    background: transparent;
    margin-top: -11.2rem;
    max-height: 7.2rem;
    border: none;
    color: rgba(255, 255, 255, 0);
}

.servtext2 {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1.25rem;
    line-height: 30px;
    padding-left: 3rem;
}

.carreshaut2 {
    max-width: 55%;
    margin-top: -2rem;
}

.carresbas2 {
    max-width: 55%;
    margin-left: 13rem;
    margin-top: -2rem;
}

li.pricecontent.tiny {
    font-size: 1.1rem;
}

#collapse2>div:nth-child(3)>div>div.col-12.col-sm-9.col-md-4.table.premium.premiumdesign>ul {
    width: 82% !important;
}

.table.freedesign {
    height: 34rem;
}

.table.premiumdesign {
    height: 35rem;
}

.table.freeredac {
    height: 35.5rem;
}

.table.premiumredac {
    height: 36rem;
    padding-right: 0;
}

div.col-6.col-md-3.confimg {
    margin-bottom: 0;
}

.imgtag {
    margin-bottom: 2.2rem;
}




/* MEDIA QUERIES
------------------------------------------------  */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .expertise {
        padding: 4.4rem 1.0625rem 0 1.0625rem;
    }

    #collapse1>div.panel-body.uppanel,
    #collapse2>div.panel-body.uppanel,
    #collapse3>div.panel-body.uppanel {
        flex-direction: column;
    }

    .membername {
        margin-top: 1rem;
    }

    .table.free {
        transform: scale(.9);
    }

    .table.active {
        transform: scale(.9);
    }

    .table.premium {
        z-index: 10;
        transform: scale(.9);
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .expertise {
        padding: 4.4rem 1.0625rem 0 1.0625rem;
    }

    #collapse1>div.panel-body.uppanel,
    #collapse2>div.panel-body.uppanel,
    #collapse3>div.panel-body.uppanel {
        flex-direction: column;
    }

    .membername {
        margin-top: 1rem;
    }

    .table.active {
        transform: scale(0.7);
        z-index: 10;
        margin-top: -6rem;
        margin-bottom: -5rem;
    }

    .table.free {
        transform: scale(0.7);
    }

    .table.premium {
        transform: scale(0.7);
    }

    .container .pricing-table {
        flex-wrap: nowrap;
    }

    .table.premium {
        z-index: 10;
    }

    /* .table.active {
        z-index: 10;
    } */

}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}