.mt-container-body {
    margin-top: 0;
    margin-bottom: 0;
}

.home {
    padding: 3.4rem 1.875rem 5rem 1.875rem;
    background: #F4F4F4;
}

p,
h1,
h2 {
    color: #000000;
}

.importanttext {
    font-weight: bold;
    font-size: 1.5rem;
}

section {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

section .container {
    position: relative;
    z-index: 2;

}

section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.mobileh1 {
    font-family: 'ethnocentricregular', Arial, sans-serif;
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 2.1875rem;
    margin-top: 1.875rem;
}

.videotitle {
    font-family: 'ethnocentricregular', Arial, sans-serif;
    font-size: 3rem;
    color: #ffffff;
}

.firstblock {
    margin-bottom: 4rem;
}

.uppart,
.bottompart {
    font-family: 'robotoregular', sans-serif;
    color: #000000;
}

p.uppart {
    font-size: 1rem;
    margin-bottom: 0;
}

.bottompart {
    font-size: 0.8rem;
}

.imgtag {
    margin-bottom: 2.2rem;
}

.seplinehaute {
    margin-top: 1.3125rem;
    margin-bottom: 3rem;
}

.infography {
    margin-bottom: 2rem;
}

.sepline {
    margin-top: 2.1875rem;
    margin-bottom: 3rem;
}

.secondarytitle {
    font-family: 'ethnocentric', Arial, sans-serif;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 3rem;
}

.actionbtn {
    max-height: 3.3125rem;
    max-width: 13.3125rem;
    font-size: 1rem;
    color: #F2F2F2;
    background: #828282;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.actionbtn:hover {
    color: #F2F2F2;
}

.btnligne {
    margin-top: 2.6rem;
    margin-bottom: 1rem;
}

div.col-6.col-md-3.confimg {
    margin-bottom: 0;
}

.approchetext p {
    padding-left: 5rem;
}


/* MEDIA QUERIES
------------------------------------------------  */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .home {
        padding: 0 1rem 5rem 1rem;
    }

    .mobileh1 {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    .firstblock,
    .approchetext {
        font-size: 0.75rem;
        margin-bottom: 1.625rem;
    }

    .firstblock p,
    .approchetext p {
        margin-bottom: 0;
    }

    .imgtag {
        margin-bottom: 0.5rem;
    }

    p.uppart {
        font-size: 0.75rem;
        line-height: 1;
    }

    .bottompart {
        font-size: 0.625rem;
    }

    div.row.infography>div.col-12.col-md-6.textin {
        padding-left: 3.8rem;
        padding-right: 3.8rem;
    }

    .infography {
        margin-bottom: 0;
    }

    .intop {
        margin-bottom: 1.8rem;
    }

    .sepline,
    .seplinehaute {
        width: 75%;
    }

    .seplinehaute {
        margin-top: 0.58rem;
        margin-bottom: 1.1875rem;
    }

    .appro {
        margin-bottom: 0.75rem;
    }

    .imgtag2 {
        margin-bottom: 0;
    }

    .approchimg1 {
        margin-bottom: 2.375rem;
    }

    .btnligne {
        margin-top: 2.4375rem;
        margin-bottom: 1.8125rem;
    }

    .sepline {
        margin-top: 0;
        margin-bottom: 1.1875rem;
    }

    .actionbtn {
        font-size: 0.9rem;
        background: rgb(250, 114, 104);
        max-width: 100%;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .appro,
    .confi {
        font-size: 1rem;
    }

    .confi {
        text-align: center;
        margin-bottom: 2.375rem;
    }

    .tag1,
    .tag2 {
        margin-bottom: 2.375rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .home {
        padding: 1rem 1rem 5rem 1rem;
    }

    .mobileh1 {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    .firstblock,
    .approchetext {
        font-size: 0.75rem;
        margin-bottom: 1.625rem;
    }

    .firstblock p,
    .approchetext p {
        margin-bottom: 0;
    }

    .imgtag {
        margin-bottom: 0.5rem;
    }

    p.uppart {
        font-size: 0.75rem;
        line-height: 1;
    }

    .bottompart {
        font-size: 0.625rem;
    }

    div.row.infography>div.col-12.col-md-6.textin {
        padding-left: 3.8rem;
        padding-right: 3.8rem;
    }

    .infography {
        margin-bottom: 0;
    }

    .intop {
        margin-bottom: 1.8rem;
    }

    .sepline,
    .seplinehaute {
        width: 75%;
    }

    .seplinehaute {
        margin-top: 0.58rem;
        margin-bottom: 1.1875rem;
    }

    .appro {
        margin-bottom: 0.75rem;
    }

    .imgtag2 {
        margin-bottom: 0;
    }

    .approchimg1 {
        margin-bottom: 2.375rem;
    }

    .approchimg1,
    .approchimg2 {
        display: flex;
        justify-content: center;
    }

    .btnligne {
        margin-top: 2.4375rem;
        margin-bottom: 1.8125rem;
    }

    .sepline {
        margin-top: 0;
        margin-bottom: 1.1875rem;
    }

    .actionbtn {
        font-size: 0.9rem;
        background: rgb(250, 114, 104);
        max-width: 90%;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .appro,
    .confi {
        font-size: 1rem;
    }

    .confi {
        text-align: center;
        margin-bottom: 2.375rem;
    }

    .tag1,
    .tag2 {
        margin-bottom: 2.375rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .home {
        padding: 2.4rem 1.875rem 2rem 1.875rem;
    }

    .firstblock,
    div.col-12.col-md-4.approchetext.order-1.order-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .approchimg1,
    .approchimg2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .approchetext {
        margin-top: 2rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home {
        padding: 2.4rem 1.875rem 7rem 1.875rem;
    }
}


@media (pointer: coarse) and (hover: none) {
    section {
        background: url("/build/img/androidphone.jpg") black no-repeat center center scroll;
    }

    section video {
        display: none;
    }
}