.mt-container-body {
  padding-top: 2rem;
  margin-bottom: 0;
}

.principalcontainer {
  background: #FA7268;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: -6rem;
  margin-bottom: -4rem;
}

.contner {
  padding-left: 0;
  padding-right: 0;
}

.carreshaut {
  padding-right: 0;
  position: relative;
  top: 0;
  right: -1.5rem;
  max-width: 14%;
}

.carresbas {
  max-width: 15%;
  position: relative;
  top: -2rem;
}

.form-signin {
  padding: 0.7rem 1.7rem 1.7rem 1.7rem;
  background: #FA7268;
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2) */
}

hr {
  background: #FA7268;
}

h1 {
  font-family: 'ethnocentricregular';
  font-size: 1.25rem;
  color: #ffffff;
}

a,
label {
  font-family: 'robotoregular', Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: #ffffff;
}

.form-control {
  border: none;
  border-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.625rem;
  font-size: 1rem;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -0.0625rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 0.625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-check {
  padding-left: 0;
}

.input {
  background: #ffffff;
}

.btn.btn-block {
  border-radius: 0;
  color: #ffffff;
  background-color: #AD3F37;
  height: 3.125rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.identiforgot a {
  color: #ffffff;
}

.lineleft,
.lineright {
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
  max-width: 28%;
}

.connextext {
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
}


/* MEDIA QUERIES
------------------------------------------------  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .mt-container-body {
    padding-top: 3.125rem;
    margin-bottom: -3.75rem;
  }

  .connextext {
    padding-right: 0;
    padding-left: 0;
  }

  .form-signin {
    margin-top: 0;
  }

  .lineleft,
  .lineright {
    -ms-flex: 0 0 21%;
    flex: 0 0 21%;
    max-width: 21%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
  }

  .carresbas,
  .carreshaut {
    display: none !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .mt-container-body {
    padding-top: 3.4375rem;
    margin-bottom: -3rem;
  }

  .form-signin {
    margin-top: 0;
    width: 80%;
  }

  .lineleft,
  .lineright {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 54%;
    flex: 0 0 54%;
    max-width: 54%;
  }

  .carresbas,
  .carreshaut {
    display: none !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .lineleft,
  .lineright {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 64%;
    flex: 0 0 64%;
    max-width: 64%;
  }

  .carresbas,
  .carreshaut {
    display: none !important;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .mt-container-body {
    /* padding-top: 3.4375rem;
    padding-bottom: 6rem; */
  }

  .principalcontainer {
    /* margin-bottom: 0; */
  }

  .lineleft,
  .lineright {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}