/* General */


html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #444444;
}

hr {
  background: #FA7268;
}

h1 {
  font-family: 'ethnocentricregular';
  font-size: 1.25rem;
  color: #000000;
}

a,
label {
  font-family: 'robotoregular', Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.closebutton {
  font-size: 2.5rem;
}

.form-control {
  border: none;
  border-radius: 0;
}

.form-signin {
  padding: 1.7rem;
  padding-top: 0.7rem;
  margin: 0 auto;
  background: #959595;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-check {
  padding-left: 0;
}

.btn {
  border-radius: 0;
  color: #000000;
  background-color: #FA7268;
  height: 3.125rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.identiforgot a {
  color: #000000;
}

.lineleft,
.lineright {
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
  max-width: 28%;
}

.connextext {
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
}


/* MEDIA QUERIES
------------------------------------------------  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .lineleft,
  .lineright {
    -ms-flex: 0 0 21%;
    flex: 0 0 21%;
    max-width: 21%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .form-signin {
    padding-top: 10rem;
    width: 80%;
  }

  .lineleft,
  .lineright {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 54%;
    flex: 0 0 54%;
    max-width: 54%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .lineleft,
  .lineright {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 64%;
    flex: 0 0 64%;
    max-width: 64%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lineleft,
  .lineright {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 0;
    padding-right: 0;
  }

  .connextext {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}