.mentionsleg {
    margin-top: 8.4rem;
    margin-bottom: 12rem;
}

h1 {
    font-family: 'ethnocentricregular', sans-serif;
    font-size: 1.3rem;
    color: #000000;
    padding-bottom: 2rem;
}

h3 {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    font-size: 1.2rem;
    color: #000000;
}

.legal p {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    font-size: 0.9rem;
    color: #000000;
}

.actionbtn {
    font-size: 1.2rem;
    color: #F2F2F2;
    background: rgb(250, 114, 104);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

a .actionbtn:hover {
    color: green !important;
}


/* MEDIA QUERIES
------------------------------------------------  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .mentionsleg {
        margin-bottom: 13.5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* .mentionsleg {
        margin-bottom: 16.5rem;
    } */
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .mentionsleg {
        margin-bottom: 10rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .mentionsleg {
        margin-bottom: 17.125rem;
    }
}