.services {
    padding: 7.4rem 1.875rem 0 1.875rem;
}

h1 {
    font-family: 'ethnocentricregular';
    font-size: 1.25rem;
    color: #ffffff;
}

.secondarytitle {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1.25rem;
    color: #000000;
}

.servtext {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

.texttag,
.textform {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.imagetag {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.titleforma {
    margin-bottom: 2.3125rem;
}

.formatext {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1rem;
    color: #000000;
}

.actionbtn {
    max-height: 3.3125rem;
    max-width: 13.3125rem;
    color: #F2F2F2;
    background: #828282;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.actionbtn:hover,
.btnform:hover {
    color: #F2F2F2;
}

.btnform {
    color: #F2F2F2;
    background: #828282;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonforma {
    max-height: 3.3125rem;
    max-width: 16rem;
    margin-top: 4rem;
}



/* MEDIA QUERIES
------------------------------------------------  */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .services {
        padding: 4.4rem 1.0625rem 0 1.0625rem;
    }

    .texttag,
    .textform,
    .imagetag {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .texttag {
        margin-top: 1.4375rem !important;
    }

    .secondarytitle {
        font-size: 1rem;
    }

    .secondtit {
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
    }

    .servtext,
    .formatext {
        font-size: 0.75rem;
    }

    .texttag {
        margin-top: 1.0625rem;
    }

    .imgmethode {
        margin-bottom: -3.5rem;
    }

    .actionbtn {
        margin-top: 1.4375rem;
        font-size: 0.9rem;
        background: rgb(250, 114, 104);
        max-width: 100%;
        margin-bottom: 2rem;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .buttonforma {
        margin-top: 1.4375rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .btnform {
        font-size: 0.9rem;
        background: rgb(250, 114, 104);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sepline {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        width: 80%;
    }

    .titleforma {
        margin-top: 1.4375rem;
        margin-bottom: 1.3125rem;
    }

    .formatext {
        color: #ffffff;
    }

    .textform {
        margin-top: 1.4375rem;
    }

    .formation {
        margin-bottom: 13rem !important;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .services {
        padding: 4.4rem 1.0625rem 0 1.0625rem;
    }

    .texttag,
    .textform,
    .imagetag {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .texttag {
        margin-top: 1.4375rem !important;
    }

    .secondarytitle {
        font-size: 1rem;
    }

    .secondtit {
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
    }

    .servtext,
    .formatext {
        font-size: 0.75rem;
    }

    .texttag {
        margin-top: 1.0625rem;
    }

    .imgmethode {
        margin-bottom: -3.5rem;
    }

    .actionbtn {
        margin-top: 1.4375rem;
        font-size: 0.9rem;
        background: rgb(250, 114, 104);
        max-width: 100%;
        margin-bottom: 2rem;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .buttonforma {
        margin-top: 1.4375rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .btnform {
        font-size: 0.9rem;
        background: rgb(250, 114, 104);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sepline {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        width: 80%;
    }

    .titleforma {
        margin-top: 1.4375rem;
        margin-bottom: 1.3125rem;
    }

    .formatext {
        color: #ffffff;
    }

    .textform {
        margin-top: 1.4375rem;
    }

    .formation {
        margin-bottom: 13rem !important;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .row.formation {
        margin-bottom: 12rem !important;
    }

    .servtext {
        margin-bottom: 1.4rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .row.formation {
        margin-bottom: 17rem !important;
    }
}