.mt-container-body {
    margin-bottom: 0;
}

.services {
    padding: 2.4rem 3rem 0 3rem;
    margin-bottom: -1rem;
}

h1 {
    font-family: 'ethnocentricregular', sans-serif;
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 2.1875rem;
}

.secondarytitle {
    font-family: 'ethnocentricregular', Arial, sans-serif;
    font-size: 1.25rem;
    color: #000000;
    line-height: 2.5rem;
}

p {
    color: #414141;
}

.carreshaut {
    max-width: 55%;
    margin-top: 2rem;
    margin-left: 0;
}

.carresbas {
    max-width: 55%;
    margin-left: 12rem;
    margin-top: 0;
}

.servtext {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
}

.methode {
    margin-top: 2rem;
}

.formation {
    margin-bottom: 7rem !important;
}

.titleforma {
    margin-top: 2rem;
    margin-bottom: 3.3125rem;
}

.formatext {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1.25rem;
}

.actionbtn {
    max-height: 3.3125rem;
    max-width: 13.3125rem;
    margin-bottom: 2rem;
    color: #ffffff;
    font-size: 1.25rem;
    background: #ad4f48;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.actionbtn:hover,
.btnform:hover {
    color: #ffffff;
}

.btnform {
    color: #F2F2F2;
    background: #ad4f48;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.action2 {
    margin-bottom: 0;
    margin-top: 2.5rem;
}

.buttonforma {
    max-height: 3.3125rem;
    max-width: 16rem;
    margin-top: 4rem;
}

.formatext {
    margin-bottom: 4.5rem;
    font-size: 1.25rem;
}

.carresverticaux {
    margin-top: -24rem;
    margin-left: 61rem;
}

.action2 {
    margin-top: 1.5rem;
}


/* MEDIA QUERIES
------------------------------------------------  */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .services {
        padding: 0 1.0625rem 0 1.0625rem;
    }

    .bigtitle,
    .secondarytitle {
        font-size: 1rem;
        line-height: 1.5625rem;
    }

    .bigtitle {
        margin-top: 0;
    }

    .servtext,
    .formatext {
        font-size: 0.875rem;
        line-height: 1.0625rem;
    }

    .texttag,
    .textform,
    .imagetag {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .texttag {
        margin-top: 1.4375rem !important;
    }

    .secondtit {
        margin-bottom: 1rem !important;
        margin-top: 0 !important;
    }

    .texttag {
        margin-top: 1.0625rem;
    }

    .imgmethode {
        margin-bottom: -3.5rem;
    }

    .actionbtn {
        margin-top: 1.4375rem;
        font-size: 0.9rem;
        max-width: 100%;
        margin-bottom: 1.6rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .buttonforma {
        margin-top: 1.4375rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .btnform {
        font-size: 0.9rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .sepline {
        margin-top: 1rem !important;
        margin-bottom: 0 !important;
        width: 90%;
    }

    .titleforma {
        margin-top: 1.8em;
        margin-bottom: 0rem;
    }

    .textform {
        margin-top: 1.4375rem;
        padding-left: 0;
        padding-right: 0;
    }

    .formation {
        margin-bottom: 3rem !important;
    }

    .formatext,
    .btnligne {
        margin-bottom: 1rem;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }

    .action2 {
        margin-top: 3rem;
    }

    .methode {
        margin-bottom: -1rem;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .services {
        padding: 0 1.0625rem 0 1.0625rem;
    }

    .bigtitle,
    .secondarytitle {
        font-size: 1rem;
        line-height: 1.5625rem;
    }

    .bigtitle {
        margin-top: 0;
    }

    .servtext,
    .formatext {
        font-size: 0.875rem;
        line-height: 1.0625rem;
    }

    .texttag,
    .textform,
    .imagetag {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .texttag {
        margin-top: 1.4375rem !important;
    }

    .secondtit {
        margin-bottom: 1rem !important;
        margin-top: 0 !important;
    }

    .texttag {
        margin-top: 1.0625rem;
    }

    .imgmethode {
        margin-bottom: -3.5rem;
    }

    .actionbtn {
        margin-top: 1.4375rem;
        font-size: 0.9rem;
        max-width: 100%;
        margin-bottom: 1.6rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .buttonforma {
        margin-top: 1.4375rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .btnform {
        font-size: 0.9rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .sepline {
        margin-top: 1rem !important;
        margin-bottom: 0 !important;
        width: 90%;
    }

    .titleforma {
        margin-top: 1.8em;
        margin-bottom: 0rem;
    }

    .textform {
        margin-top: 1.4375rem;
        padding-left: 0;
        padding-right: 0;
    }

    .formation {
        margin-bottom: 3rem !important;
    }

    .formatext,
    .btnligne {
        margin-bottom: 1rem;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }

    .action2 {
        margin-top: 3rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .services {
        padding: 3rem 3rem 0 3rem;
    }

    .methode {
        margin-top: 1rem;
    }

    .row.formation {
        margin-bottom: 4rem !important;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }

    .titleforma {
        margin-top: 1rem;
        margin-bottom: 1.3125rem;
    }

    .formatext {
        margin-bottom: 1.5rem;
    }

    .imgmethode {
        margin-bottom: 0;
    }

    .action2 {
        max-width: 15.3125rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .services {
        padding: 3rem 3rem 0 3rem;
    }

    .row.formation {
        margin-bottom: 4rem !important;
    }

    .carresbas,
    .carreshaut {
        display: none !important;
    }

    .titleforma {
        margin-top: 1rem;
        margin-bottom: 1.3125rem;
    }

    .formatext {
        margin-bottom: 1.5rem;
    }

    .action2 {
        max-width: 15.3125rem;
    }
}

/* Extra large devices (desktops, more than 1200px) */
@media (min-width: 1932px) {

    .carresverticaux {
        margin-top: -24rem;
        margin-left: 91.5rem;
    }
}