{% set categories = categories_posts.getCategories %}

<!-- Sidebar Widgets Column -->
<div class="col-12 my-4 my-lg-0 p-0 pl-lg-2 col-md-12 col-lg-3 ml-4">

    <!-- Search Widget -->
    <div class="card card-sidebar-search rounded-0">
        <div class="card-body p-0">
            <!--- Formulaire de recherche ---->
            {% include "form/_search_form.html.twig" %}
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card card-sidebar rounded-0 my-4">
        <h4 class="card-header border-0 bg-white text-center">Categories</h4>
        <div class="card-body">
            <div class="row">
                    <ul class="list-unstyled mb-0">
                      {% for category in categories %}
                          <li>
                              <a class="blog-sidebar-categories-link text-dark d-flex align-items-center" href="{{ path('postsByCategory', {'url_page_post': 'blog', 'category_name': category.name }) }}">
                                  <i class="fas fa-folder-open"></i>{{ category.name }}
                              </a>
                          </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>

    <!-- Abonnement widget -->
    <div class="card card-sidebar rounded-0 my-4">
        <div class="card-body">
            <h5 class="card-title text-center">Abonnez-vous</h5>
            <p class="card-text">


            <ul class="blog-sidebar-social-network list-unstyled d-flex justify-content-center">
                <li class="p-1">
                    <a href="" title="Facebook" target="_blank">
                        <i class="text-dark fab fa-facebook-square fa-2x"></i>
                    </a>
                </li>
                <li class="p-1">
                    <a href="" title="Instagram" target="_blank">
                        <i class="text-dark fab fa-instagram fa-2x"></i>
                    </a>
                </li>
                <li class="p-1">
                    <a href="" title="Linkedin" target="_blank">
                        <i class="text-dark fab fa-linkedin fa-2x"></i>
                    </a>
                </li>
                <liv class="p-1">
                    <a href="" title="Twitter" target="_blank">
                        <i class="text-dark fab fa-twitter fa-2x"></i>
                    </a>
                </liv>
            </ul>

            </p>
            <hr>
            <h5 class="card-title text-center">Vous avez un projet?</h5>
            <p class="card-text text-center">
                <a class="blog-sidebar-button-contact blog-button btn " href="{{ path('contact') }}" title="CONTACTEZ-NOUS" role="button">CONTACTEZ-NOUS</a>
            </p>
            <hr>
            <h5 class="card-title text-center">Back to the newsletter</h5>
            {% include "form/_newsletter_form.html.twig" %}
        </div>
    </div>
</div>
