{% set categories = categories_posts.getCategories %}

<!-- Sidebar Widgets Column -->
<div class="p-0 pl-lg-3 col-12 col-lg-4 col-xl-3">

    <!-- Search Widget -->
    <div class="d-none d-lg-flex card rounded-0 ">
        <div class="card-body p-0">
            <!--- Research form -->
            {% include "form/_search_form.html.twig" %}
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="d-none d-lg-flex card rounded-0 my-4">
        <h4 class="card-header bg-transparent border-0 text-center">Categories</h4>
        <div class="card-body">
            <div class="row">
                    <ul class="list-unstyled mb-0">
                        {% for category in categories %}
                            <li>
                                <a class="blog-sidebar-categories-link text-dark d-flex align-items-center" href="{{ path('postsByCategory', {'url_page_post': 'blog', 'category_name': category.name }) }}">
                                    <i class="fas fa-folder-open"></i>{{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>

    <!-- Abonnement widget -->
    <div class="card rounded-0 my-4">
        <div class="card-body abonnementwidget">
            <h5 class="card-title text-center">Abonnez-vous</h5>
            <p class="card-text">
                <ul class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-12 offset-lg-0 blog-sidebar-social-network list-unstyled d-flex justify-content-between pt-1 pb-1 pl-3 pr-3">
                    <li class="p-1">
                        <a href="" title="Facebook" target="_blank">
                            <i class="text-dark fab fa-facebook-square fa-2x"></i>
                        </a>
                    </li>
                    <li class="p-1">
                        <a href="" title="Instagram" target="_blank">
                            <i class="text-dark fab fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li class="p-1">
                        <a href="" title="Linkedin" target="_blank">
                            <i class="text-dark fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <liv class="p-1">
                        <a href="" title="Twitter" target="_blank">
                            <i class="text-dark fab fa-twitter fa-2x"></i>
                        </a>
                    </liv>
                </ul>
            </p>
            <hr>
            <h5 class="card-title text-center">Vous avez un projet?</h5>
            <p class="col-12 col-sm-8 offset-sm-2 col-md-6 col-lg-12 card-text text-center mx-auto">
                <a class="col-12 blog-sidebar-button-contact blog-button btn " href="{{ path('contact') }}" title="CONTACTEZ-NOUS" role="button">CONTACTEZ-NOUS</a>
            </p>
            <hr>
            <h5 class="card-title text-center">Back to the newsletter</h5>
            {% include "form/_newsletter_form.html.twig" %}
        </div>
    </div>
</div>
