    <!-- Cookie alert message changer le type de lien et mettre page legale -->
    <div class="alert alert-dismissible text-center cookiealert" role="alert">
        <div class="cookiealert-container">
            <b>Aimez vous les cookies ?</b> &#x1F36A; Nous utilisons des cookies pour vous assurer la meilleure
            expérience sur notre site.
            <a href="http://cookiesandyou.com/" target="_blank">En savoir plus</a>
            <button type="button" class="btn btn-sm acceptcookies" aria-label="Close">
                J'accepte
            </button>
        </div>
    </div>

    <!-- Up button -->
    <div class="cRetour"></div>