{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}
{% block body %}
    <div class="hero">

        <div class="inner-text">
            <p class="p1"><span id="status_code">404</span>:</p>
            <p class="p2"></p>
            <div class="col-12 col-sm-12 col-md-6 offset-md-3 d-flex btnligne justify-content-center">
                <a class="btn actionbtn text-uppercase rounded-0" href="{{ path('homepage') }}">Back to Accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
